@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100&display=swap");

:root {
    --dark-bg: #1A1A1A;
    // --pinkColor: #d141f6;
    // --blueColor: #3790fb;
    // --white: #ffffff;
    // --fwhite: #fff;
    // --black-btn: #1d2431;
    // --roboto-font: Roboto;
    // --less-dark: #212936;
    // --dim-white: #D9D9D9;
    // --light-dark-font: #828FA4;
}

*{
    margin: 0;
    padding: 0;
}